#modal-box {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  border: 1px solid rgb(159, 32, 137);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
#modal-box > div {
  border: 1px solid rgb(159, 32, 137);
  border-radius: 10px;
}

.order-success {
  width: 100%;
}

.continue {
  background-color: rgb(159, 32, 137);
  color: white;
  width: 100%;
  border: none;
  padding: 12px;
  font-size: 16px;
  margin: 20px auto;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 400px;
}
